#logo_content > div > div > img{
    width: 170px;
    height: 170px;
    margin: auto;
    display: block;
    text-align: center;
}

.contacts{
    float: right;
}

.contacts > i{
    padding-right: 10px;
}
.contacts > i > span{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding-left: 5px;
}
#offcanvas_content{
    font-family: Arial, Helvetica, sans-serif;
}
#offcanvas_content ul{
    list-style: none;
}

#offcanvas_content ul li{
    margin: 15px 0 15px 0;
}

#offcanvas_content ul li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    margin-left: 10px;
}

#offcanvas_content ul li ul li{
    margin: 0;
}

#offcanvas_content ul li ul li a{
    color: black;
    font-size: 110%;
    margin: 0;
}

#offcanvas_content ul li a:hover{
    font-weight: bold;
}

#offcanvas_content ul li ul li a:hover{
    font-weight: bold;
    
}

#offcanvas_content ul li:hover ul {
    display: block;
}

#offcanvas_content .dropdown-menu{
    position: static;
    /* margin-right: 10px; */
    margin: 0;
    padding: 0;
    background-color: rgb(177, 175, 175);
}

.dropdown-menu{
    /* min-width: 10rem; */
    margin: 0;
    padding: 0;
}